BancoCoreSOAP/src/main/resources/banco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.example.com/demo/banco"
           targetNamespace="http://www.example.com/demo/banco"
           elementFormDefault="qualified">

    <xs:element name="consultarSaldoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numeroConta" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="consultarSaldoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="saldo" type="xs:decimal"/>
                <xs:element name="nomeCliente" type="xs:string"/>
                <xs:element name="numeroConta" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	    <xs:element name="criarClienteRequest">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="nome" type="xs:string"/>
	            <xs:element name="cpf" type="xs:string"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
	
	<xs:element name="criarClienteResponse">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="id" type="xs:long"/>
	            <xs:element name="nome" type="xs:string"/>
	            <xs:element name="cpf" type="xs:string"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
	<xs:element name="criarContaRequest">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="clienteId" type="xs:long"/> 
	            <xs:element name="numeroConta" type="xs:string"/>
	            <xs:element name="saldoInicial" type="xs:decimal"/> 
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
	
	<xs:element name="criarContaResponse">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="id" type="xs:long"/>
	            <xs:element name="numeroConta" type="xs:string"/>
	            <xs:element name="saldo" type="xs:decimal"/>
	            <xs:element name="nomeCliente" type="xs:string"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
	<xs:element name="realizarTransferenciaTEDRequest">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="contaOrigem" type="xs:string"/> 
	            <xs:element name="contaDestino" type="xs:string"/>
	            <xs:element name="valor" type="xs:decimal"/> 
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
	
	<xs:element name="realizarTransferenciaTEDResponse">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="status" type="xs:string"/> <xs:element name="mensagem" type="xs:string"/> <xs:element name="novoSaldoOrigem" type="xs:decimal"/>
	            <xs:element name="novoSaldoDestino" type="xs:decimal"/>
	            <xs:element name="transacaoDebitoId" type="xs:long"/>
	            <xs:element name="transacaoCreditoId" type="xs:long"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
		<xs:element name="alterarSenhaAcessoRequest">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="numeroConta" type="xs:string"/> 
	            <xs:element name="senhaAntiga" type="xs:string"/>
	            <xs:element name="senhaNova" type="xs:string"/> 
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
	
	<xs:element name="alterarSenhaAcessoResponse">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="status" type="xs:string"/> 
			    <xs:element name="mensagem" type="xs:string"/>
	            <xs:element name="numeroConta" type="xs:string"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>

</xs:schema>